# Petal Power Inventory

The goal of this project is to help to analyze a shop-inventory,  using Pandas, for a chain of gardening stores called Petal Power.

In [19]:
import pandas as pd

# Read the csv file and store it for further usage
inventory = pd.read_csv('inventory.csv')

inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

A customer emailed asking what products are sold at a Staten Island location. Let's find what products are there.

In [20]:
product_request = inventory[inventory.location == 'Staten Island'][['product_description']]
product_request

          product_description
0                       daisy
1                  calla lily
2                      tomato
3                        rake
4                 wheelbarrow
5                       spade
6               insect killer
7                 weed killer
8  20 inch terracotta planter
9      8 inch plastic planter

Another customer emails to ask what types of seeds are sold at the Brooklyn location. Here is the answer:

In [21]:
seeds_request = inventory[(inventory.location == 'Brooklyn') & (inventory.product_type == 'seeds')]
print(seeds_request)

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

Manager asked to add a column to inventory called **in_stock** which is True if quantity is greater than 0 and False if quantity equals 0.

In [22]:
inventory['in_stock'] = inventory.quantity.apply(lambda x: x > 0)
inventory.head(10)

,location,product_type,product_description,quantity,price,in_stock
0,Staten Island,seeds,daisy,4,6.99,True
1,Staten Island,seeds,calla lily,46,19.99,True
2,Staten Island,seeds,tomato,85,13.99,True
3,Staten Island,garden tools,rake,4,13.99,True
4,Staten Island,garden tools,wheelbarrow,0,89.99,False
5,Staten Island,garden tools,spade,93,19.99,True
6,Staten Island,pest_control,insect killer,74,12.99,True
7,Staten Island,pest_control,weed killer,8,23.99,True
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False
9,Staten Island,planter,8 inch plastic planter,53,3.99,True

Petal Power wants to know how valuable their current inventory is. To find this we are going to create a column called **total_value** that is equal to price multiplied by quantity.

In [23]:
inventory['total_value'] = round(inventory.price * inventory.quantity, 2)
inventory.head(10)

,location,product_type,product_description,quantity,price,in_stock,total_value
0,Staten Island,seeds,daisy,4,6.99,True,27.96
1,Staten Island,seeds,calla lily,46,19.99,True,919.54
2,Staten Island,seeds,tomato,85,13.99,True,1189.15
3,Staten Island,garden tools,rake,4,13.99,True,55.96
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00
5,Staten Island,garden tools,spade,93,19.99,True,1859.07
6,Staten Island,pest_control,insect killer,74,12.99,True,961.26
7,Staten Island,pest_control,weed killer,8,23.99,True,191.92
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.00
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,211.47

As a final task marketing department wants a complete description of each product for their catalog. To do this we need to create a new column in inventory called **full_description** that combines **product_type** and **product_description**.

In [24]:
combine = lambda row: '{product_type} - {product_description}'.format(product_type = row.product_type, product_description = row.product_description)
inventory['full_description'] = inventory.apply(combine, axis = 1)
inventory.head(10)

,location,product_type,product_description,quantity,price,in_stock,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds - daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds - calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds - tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools - rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools - wheelbarrow
5,Staten Island,garden tools,spade,93,19.99,True,1859.07,garden tools - spade
6,Staten Island,pest_control,insect killer,74,12.99,True,961.26,pest_control - insect killer
7,Staten Island,pest_control,weed killer,8,23.99,True,191.92,pest_control - weed killer
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.00,planter - 20 inch terracotta planter
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,211.47,planter - 8 inch plastic planter